# Story 6

Andrew Bowen
DATA 621
CUNY Data Science Masters

In [44]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Data Sources

I found US Food Security data [published by the US Census Bureau here](https://www.census.gov/data/datasets/time-series/demo/cps/cps-supp_cps-repwgt/cps-food-security.html)

- [US Dept of Agriculture Data Sources](https://www.ers.usda.gov/data-products/)

In [30]:
df = pd.read_csv("https://www2.census.gov/programs-surveys/cps/datasets/2022/supp/dec22pub.csv")

df.head()

,HRHHID,HRMONTH,HRYEAR4,HURESPLI,HUFINAL,FILLER,HETENURE,HEHOUSUT,HETELHHD,HETELAVL,...,HRFS30D1,HRFS30D2,HRFS30D3,HRFS30D4,HRFS30D5,HRFS30D6,HRFS30D7,HRFS30D8,HRFS30D9,HRFS30DE
0,351819007700950,12,2022,-1,225,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,143200010045972,12,2022,-1,226,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,201348501120003,12,2022,-1,225,NaN,1,5,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,610009070389621,12,2022,-1,226,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,110862907936,12,2022,-1,226,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

## Data Wrangling

We'll need to do a significant amount of column renaming. Using [this data dictionary](https://www.ers.usda.gov/webdocs/DataFiles/50764/techdoc2022.pdf?v=1957.8)


*Children’s Food Security Scale variables are coded as “Not in Universe” (-1) if there were no children in the household.*

In [60]:
# Rename dataframe columns
column_renames = {
    "HRHHID": "household_id",
    "HRHHID2": "household_id2",
    "PESEX": "sex",
    "HRFS12M1": "food_security_level",
    "HRFS12M6": "raw_child_food_security_score",
    "HRFS12MC": "child_food_security_level",

    }

df = df.rename(columns=column_renames)